<h2>Book Name: <%= @author.name %></h2>





  <!-- POSSIBLE BOOKS LIST -->




<p><a href="/authors/<%= @author.id %>/edit">Edit author</a></p>
<p><a href="/authors">Return to author list</a></p>
<p><a href="/books">Return to book list</a></p>
