
<h1 class="titles">"Portland Library"</h1>

<h3 class="titles">Available Titles</h3>

<form action="/books">
  <div class="form-group">
    <label for="search_input">Search</label>
    <input id="search" name="search_input" class="form-control" type="text">
  </div>
  <button type="submit" class="danger">SEARCH!</button>
</form>

<form action="/books" method="get">
  <input name="clear_inputs" type="hidden" value="clear">
  <button type="submit" name="clear">Clear Results</button>
</form>

<form action="/books" method="get">
  <input name="sort_list" type="hidden" value="search">
  <button type="submit">Sort List</button>
</form>



<% if @books.any? %>
<ul>
  <% @books.each do |book| %>
  <h4><a href="/books/<%= book.id %>"><%= book.title %></a></h4>

  <% end %>
</ul>
<% else %>
<p>There are currently no records to display.</p>
<% end %>

<a href="/books/new">Add a new book</a><br>
<a href="/authors">Go to authors list</a>
