
<h1>Add a new author</h1>

<form action="/authors" method="post">
  <div class="form-group">
    <label for="name">Author name</label>
    <input id="name_input" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="danger">Go!</button>
</form>
